.articles{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media(min-width: 768px){
        justify-content: space-around;
    }
    border-bottom: 1px solid lightgray;
    padding-bottom: 50px;
}

.article{
    border-bottom: 1px solid lightgray;
    padding: 15px 10px;
    width: 90%;
    border-radius: 20px;
    box-shadow: 3px 3px 30px -18px rgba(0,0,0,0.75);
    margin: 10px 0;
    &__header{
        margin: 0;
        padding: 0;
        &-text{
            color: #007acc;
            text-decoration: none;
            box-shadow: none;
        }
    }
    &__data {
        margin: 0;
        padding: 0;
        font-size: .6rem;
    }
    &__content {
        margin: 0;
        font-size: .8rem;
    }
    @media(min-width: 769px){
        width: 30%;
    }
}

.postsHeader{
    font-size: 1.4rem;
    padding: 0 20px;
}

