.newsletterContainer{
    display: block;
    margin-bottom: 20px;
    @media(min-width:769px){
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.newsletterInfo{
    width: 90%;
    margin: 0 auto;
    @media(min-width: 769px){
        width: 45%;
        margin: 0;
        padding: 0 20px;
    }
    &__header{
        margin: 0;
        font-weight: bold;
        margin: 20px 0;
    }
    &__description{
        text-align: justify;
    }
}

.newsletterForm{
    display: flex;
    min-width: 320px;
    height: 40px;
    width: 90%;
    margin: 0 auto;
    @media(min-width: 769px){
        width: 45%;
        margin: 0;
    }
    &__input{
        width: 70%;
        border-radius: 20px 0 0 20px;
        border: 1px solid lightgray;
        padding-left: 10px;
        &:focus{
            outline: none;
        }
    }
    &__button{
        width: 30%;
        border: 1px solid #007acc;
        border-left: none;
        border-radius: 0 20px 20px 0;
        background-color: #007acc;
        color: white;
        font-weight: bold;
        cursor: pointer;
        &:focus{
            outline: none;
        }
    }
}

.newsletterHeader{
    font-size: 1.4rem;
    padding: 0 20px;
}
